<!-- add "scroll-to-top" button when scrolled down -->
<!--indexOff: all-->
<div id="back-to-top" role="link"></div>
<footer role="contentinfo" class="container">{{{blocks.footer}}}</footer>
<!--indexOn: all-->
