@import '../../node_modules/kth-style/public/sass/variables/colors';

.code-snippet {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;

  &__container {
    background-color: $lightGrey;
    display: grid;
    grid-template-columns: 1fr 90px;
    grid-gap: 15px;

    pre {
      margin: 10px;
    }

    code[class*='language-html'] {
      text-shadow: 0 1px #fff;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 2;
      -moz-tab-size: 2;
      -o-tab-size: 2;
      tab-size: 2;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
  }

  &__btn-container {
    position: relative;
  }

  &__tooltip {
    opacity: 1;
    width: 100%;

    .arrow {
      left: 50%;
    }
  }
}
