// Scss code goes here!
#app {
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 15px;
}
.mainContent {
  width: 100%;
  padding: 15px;
}
.colorBox {
  width: 150px;
  height: 150px;
  box-shadow: 0px 10px 42px -9px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.itemBox {
  padding: 30px;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 15px;
  margin-bottom: 2 * 15px;
}

.codeSnippet {
  code[class*='language-html'] {
    text-shadow: 0 1px #fff;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  background-color: #f6f6f6;
  margin-top: 20px;
}
@import './NavBar.scss';
