// Scss code goes here!

@import '../../node_modules/kth-style/public/sass/variables/fonts';

#app {
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 15px;
}
.mainContent {
  width: 100%;
  padding: 15px;
}
.colorBox {
  width: 150px;
  height: 150px;
  box-shadow: 0px 10px 42px -9px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.itemBox {
  padding: 30px;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 15px;
  margin-bottom: 2 * 15px;
}

.typographyItem {
  display: flex;
  flex-direction: column;
}

@import './NavBar.scss';
@import './CodeSnippet.scss';
