@media (min-width: 992px) {
  #mainMenu.col.navbar {
    padding: 0 35px 15px 30px;

    .nav-link {
      &.active {
        font-weight: bold;
        pointer-events: none;
      }
    }

    &.navbar-expand-lg.navbar-light
      #navbarNav.collapse.navbar-collapse
      ul.nav.nav-list.expandable
      li.nav-item.node.expanded {
      background: url(../../node_modules/kth-style/dist/img/kth-style/icons/arrow-black-down.svg) no-repeat 100%;
      background-size: 14px 14px;
      background-position: 100% 14px;
    }
  }
}
